/* global styles */
body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  padding: 30px;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  color: #000000de;
  /* scroll-margin-top: 90px; */
}

@media screen and (max-width: 558px) {
  body {
    padding: 20px 10px;
  }
}

.relative {
  position: relative;
}

p {
  margin: 0;
}

/* components */

/* job-detail card */
.job-box {
  border-radius: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 360px;
  width: 100%;
  padding: 5px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.job-box:hover {
  transform: scale(1.01);
}

.job-box .container {
  padding: 8px 16px;
}

.posted_text {
  display: inline-block;
  padding: 4px 6px;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.posted_text p {
  font-size: 9px;
  color: #000000de;
  line-height: 1.5;
}

.job-box .company-job-info {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  gap: 8px;
}

.job-box .company-job-info img {
  width: 40px;
  height: 40px;
}

.job-box .company-job-info .company-name {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.job-box .company-job-info .job-title {
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
}

.job-box .company-job-info .location {
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
  text-transform: capitalize;
}

.job-box .container .estimated-salary {
  margin: 8px 0;
  font-size: 14px;
  color: #4d596a;
}

.about-company {
  font-size: 14px;
  position: relative;
  margin-top: 10px;
}
.about-company-role {
  margin-top: 14px !important;
}
.overflow-mask {
  max-height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
.view-more-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0px;
  color: #4943da;
  font-size: 14px;
  cursor: pointer;
}
.about-company .about-company-text {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2px;
}
.about-company .profile-text {
  font-weight: 500;
  white-space: pre-wrap;
  font-size: 14px;
}
.about-company .profile-name {
  color: #4943da;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
}
.about-us-text {
  font-weight: 600;
  margin: 1px 0;
}
.min-experience {
  min-height: 38px;
  margin-top: 20px;
}
.min-experience p:first-child {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  margin-top: 10px;
}
.min-experience p:nth-child(2) {
  font-size: 14px;
}
.easy-apply-btn {
  width: 100%;
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 12px 18px;
  border-radius: 8px;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}
.referral-btn {
  width: 100%;
  background-color: #4943da;
  color: #fff;
  font-weight: 300;
  padding: 12px 18px;
  border-radius: 8px;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.referral-btn img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid white;
}

/* app styles */
.search-jobs-text {
  text-align: center;
  margin-bottom: 16px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .filters-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.filters-container input {
  padding: 8px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid rgb(193, 193, 193);
  outline: none;
  max-width: 150px;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.infinite-loader-container {
  margin-top: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 20px;
  height: 20px;
  margin: 0 auto 0;
  border: solid 3px rgb(85, 239, 196);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nothing-found img {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px auto;
}
.nothing-found p {
  text-align: center;
  font-weight: 500;
}
